@import "./variable.less";

@list-prefix-cls: ~"@{ui-prefix}-list";

.@{list-prefix-cls} {
  overflow: scroll;
  &-refresh {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &-tip {
      margin-left: 6px;
    }
  }
  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: red;
    &-tip {
      margin-left: 6px;
    }
  }
}
